In [4]:
import numpy as np
import pandas as pd

1.) read the csv files and add them to data frames

In [5]:
Car_path = '/content/CarPrice_Assignment.csv'
Youtube_path = '/content/Youtube.csv'
Weather_path = '/content/weather.csv'

used latin encoding to read the youtube file

In [10]:
df_car = pd.read_csv(Car_path)
df_youtube = pd.read_csv(Youtube_path, encoding='latin1')
df_weather = pd.read_csv(Weather_path)

diplay the dataframes

In [ ]:
df_car.head(), df_youtube.head(), df_weather.head()

(   car_ID  symboling                   CarName fueltype aspiration doornumber  \
 0       1          3        alfa-romero giulia      gas        std        two
 1       2          3       alfa-romero stelvio      gas        std        two
 2       3          1  alfa-romero Quadrifoglio      gas        std        two
 3       4          2               audi 100 ls      gas        std       four
 4       5          2                audi 100ls      gas        std       four

        carbody drivewheel enginelocation  wheelbase  ...  enginesize  \
 0  convertible        rwd          front       88.6  ...         130
 1  convertible        rwd          front       88.6  ...         130
 2    hatchback        rwd          front       94.5  ...         152
 3        sedan        fwd          front       99.8  ...         109
 4        sedan        4wd          front       99.4  ...         136

    fuelsystem  boreratio  stroke compressionratio horsepower  peakrpm citympg  \
 0        mpfi       3.47    2.68              9.0        111     5000      21
 1        mpfi       3.47    2.68              9.0        111     5000      21
 2        mpfi       2.68    3.47              9.0        154     5000      19
 3        mpfi       3.19    3.40             10.0        102     5500      24
 4        mpfi       3.19    3.40              8.0        115     5500      18

    highwaympg    price
 0          27  13495.0
 1          27  16500.0
 2          26  16500.0
 3          30  13950.0
 4          22  17450.0

 [5 rows x 26 columns],
                                           Video Link Video Views  \
 0        https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
 1        https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
 2  https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s         878
 3        https://www.youtube.com/watch?v=_CkFNJgKsFs       9,965
 4        https://www.youtube.com/watch?v=_GFkHA5EZdE  39,780,561

                                          Video Title  \
 0    Samse - Didupe Off-road Royal Enfield Himalayan
 1                           Bhoom Baddhal Web Series
 2  Customer Psychology, Four Views Of Consumer De...
 3     Top countries with proven natural gas reserves
 4                     73 Questions With Selena Gomez

                                          Channel URL Creator Name  \
 0                https://www.youtube.com/c/sriharick   srihari ck
 1         https://www.youtube.com/c/ChaibisketTelugu  Chai Bisket
 2  https://www.youtube.com/channel/UCcIUnCsBfONvb...  Virda Warsi
 3                 https://www.youtube.com/c/trtworld          TRT
 4                                    Vogue - YouTube        Vogue

   Creator Gender Total Channel Subcribers Total Chanel Views  \
 0           Male                    40200            7964284
 1           Male                   920000          137535681
 2         Female                      458              72945
 3            NaN                  1680000          541653219
 4            NaN                 12100000         3600496171

   Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
 0         00:30:41             1,841.00  ...               Yes         0
 1         00:14:24               864.00  ...               Yes         1
 2           0:08:12              492.00  ...               Yes         0
 3           0:01:06               66.00  ...               Yes         0
 4           0:07:40              460.00  ...               Yes         0

   No of Comments Date of the Last Comment Maximum Quality of the Video  \
 0            419                 8/6/2022                         1080
 1            189                6/15/2022                         1080
 2              0                      NaN                          720
 3             77                9/22/2022                         1080
 4          28221                9/23/2022                         1080

    No of Videos the Channel No of Playlist Premiered or Not  \
 0                       462           12.0               No
 1                       251           12.0              Yes
 2                       158            0.0               No
 3                     46509           48.0               No
 4                      2872          113.0               No

    Community Engagement (Posts per week)  Intern Who Collected the Data
 0                                      1                     Akhil Teja
 1                                      2                     Akhil Teja
 2                                      0                    Syed safdar
 3                                     20                    Syed safdar
 4                                      1                    Rahul Singh

 [5 rows x 24 columns],
    precipitation  temp_max  temp_min  wind  weather
 0            0.0      12.8       5.0   4.7  drizzle
 1           10.9      10.6       2.8   4.5     rain
 2            0.8      11.7       7.2   2.3     rain
 3           20.3      12.2       5.6   4.7     rain
 4            1.3       8.9       2.8   6.1     rain)

In [11]:
# Find Missing Values
missing_values_car = df_car.isnull().sum()
missing_values_youtube = df_youtube.isnull().sum()
missing_values_weather = df_weather.isnull().sum()

In [12]:
# Display the number of missing values for each column
print("Number of missing values for each column in df_car:")
print(missing_values_car)

print("\nNumber of missing values for each column in df_youtube:")
print(missing_values_youtube)

print("\nNumber of missing values for each column in df_weather:")
print(missing_values_weather)

Number of missing values for each column in df_car:
car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

Number of missing values for each column in df_youtube:
Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

Number of missing values for each column in df_weather:
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [17]:
# Drop rows with any missing values
df_car_no_missing = df_car.dropna()
df_youtube_no_missing = df_youtube.dropna()
df_weather_no_missing = df_weather.dropna()

In [18]:
# Display the first few rows of the new dataframes
print("\nDataFrame df_car after dropping missing values:")
print(df_car_no_missing.head())

print("\nDataFrame df_youtube after dropping missing values:")
print(df_youtube_no_missing.head())

print("\nDataFrame df_weather after dropping missing values:")
print(df_weather_no_missing.head())

DataFrame df_car after dropping missing values:
   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  ...  enginesize  \
0  convertible        rwd          front       88.6  ...         130
1  convertible        rwd          front       88.6  ...         130
2    hatchback        rwd          front       94.5  ...         152
3        sedan        fwd          front       99.8  ...         109
4        sedan        4wd          front       99.4  ...         136

   fuelsystem  boreratio  stroke compressionratio horsepower  peakrpm citympg  \
0        mpfi       3.47    2.68              9.0        111     5000      21
1        mpfi       3.47    2.68              9.0        111     5000      21
2        mpfi       2.68    3.47              9.0        154     5000      19
3        mpfi       3.19    3.40             10.0        102     5500      24
4        mpfi       3.19    3.40              8.0        115     5500      18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

[5 rows x 26 columns]

DataFrame df_youtube after dropping missing values:
                                     Video Link Video Views  \
0   https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
1   https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
5   https://www.youtube.com/watch?v=_HwPGXsklyY     257,334
10  https://www.youtube.com/watch?v=0BBROgyHlFE   5,599,742
11  https://www.youtube.com/watch?v=0HheRYQ9ass      25,052

                                          Video Title  \
0     Samse - Didupe Off-road Royal Enfield Himalayan
1                            Bhoom Baddhal Web Series
5                      HERO - Baananchige Oduva Baara
10  ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat
11             The BEST Mockups You Will Find Online!

                                    Channel URL         Creator Name  \
0           https://www.youtube.com/c/sriharick           srihari ck
1    https://www.youtube.com/c/ChaibisketTelugu          Chai Bisket
5   https://www.youtube.com/c/RishabShettyFilms  Rishab Shetty Films
10       https://www.youtube.com/c/JeremyEthier        Jeremy Ethier
11                    Satori Graphics - YouTube               Satori

   Creator Gender Total Channel Subcribers Total Chanel Views  \
0            Male                    40200            7964284
1            Male                   920000          137535681
5            Male                   382000          154898226
10           Male                  4690000          511124108
11           Male                   999000           58048539

   Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
0          00:30:41             1,841.00  ...               Yes         0
1          00:14:24               864.00  ...               Yes         1
5          00:06:01               361.00  ...               Yes         1
10         00:09:43               583.00  ...               Yes         0
11           0:05:51              351.00  ...               Yes         0

   No of Comments Date of the Last Comment Maximum Quality of the Video  \
0             419                 8/6/2022                         1080
1             189                6/15/2022                         1080
5             387                4/24/2021                         2160
10           1558               21-09-2022                         1080
11             70                 9/1/2022                         1080

    No of Videos the Channel No of Playlist Premiered or Not  \
0                        462           12.0               No
1                        251           12.0              Yes
5                         94           14.0               No
10                       216            8.0               No
11                       918           76.0               No

    Community Engagement (Posts per week)  Intern Who Collected the Data
0                                       1                     Akhil Teja
1                                       2                     Akhil Teja
5                                       0                     Akhil Teja
10                                      0                        prateek
11                                      2                    Rahul Singh

[5 rows x 24 columns]

DataFrame df_weather after dropping missing values:
   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7  drizzle
1           10.9      10.6       2.8   4.5     rain
2            0.8      11.7       7.2   2.3     rain
3           20.3      12.2       5.6   4.7     rain
4            1.3       8.9       2.8   6.1     rain

In [15]:
#drop boreratio , compression ratio , aspiration ,symboling from cars data set as they are not as relevent

columns_to_drop = ['boreratio', 'compressionratio', 'aspiration', 'symboling']

df_car_dropped = df_car.drop(columns=columns_to_drop)

# Display the first few rows of the dataframe after dropping columns, to diaplay only first 5  rows .head is used
print("DataFrame df_car after dropping  columns:")
print(df_car_dropped.head())

DataFrame df_car after dropping  columns:
   car_ID                   CarName fueltype doornumber      carbody  \
0       1        alfa-romero giulia      gas        two  convertible
1       2       alfa-romero stelvio      gas        two  convertible
2       3  alfa-romero Quadrifoglio      gas        two    hatchback
3       4               audi 100 ls      gas       four        sedan
4       5                audi 100ls      gas       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  enginetype  \
0        rwd          front       88.6      168.8      64.1  ...        dohc
1        rwd          front       88.6      168.8      64.1  ...        dohc
2        rwd          front       94.5      171.2      65.5  ...        ohcv
3        fwd          front       99.8      176.6      66.2  ...         ohc
4        4wd          front       99.4      176.6      66.4  ...         ohc

   cylindernumber enginesize fuelsystem  stroke horsepower  peakrpm  citympg  \
0            four        130       mpfi    2.68        111     5000       21
1            four        130       mpfi    2.68        111     5000       21
2             six        152       mpfi    3.47        154     5000       19
3            four        109       mpfi    3.40        102     5500       24
4            five        136       mpfi    3.40        115     5500       18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

[5 rows x 22 columns]

In [21]:
# Q4. One-Hot Encoding
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

one_hot_cols = ['Language of the Video', 'Subtitle']
one_hot_cols_car = ['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']
one_hot_cols_weather = ['precipitation', 'temp_max', 'temp_min', 'wind', 'weather']
df_youtube_onehot = pd.get_dummies(df_youtube, columns=one_hot_cols)
df_car_onehot = pd.get_dummies(df_car, columns=one_hot_cols_car)
df_weather_onehot = pd.get_dummies(df_weather, columns=one_hot_cols_weather)

# Display the modified DataFrame
df_weather_onehot.head()
df_car_onehot.head()
df_youtube_onehot.head()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Language of the Video_Punjabi,Language of the Video_Russian,Language of the Video_Sanskrit,Language of the Video_Tamil,Language of the Video_Telugu,Language of the Video_Urdu,Language of the Video_Urdu + Arabic,Subtitle_No,Subtitle_Yes,Subtitle_yes
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,0,0,0,0,0,0,0,1,0,0
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,0,0,0,0,1,0,0,1,0,0
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,0,0,0,0,0,0,0,1,0,0
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,0,0,0,0,0,0,0,1,0,0
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,0,0,0,0,0,0,0,0,0,1

In [22]:
# Q5

# Display summary statistics for numerical columns in the YouTube DataFrame
youtube_summary = df_youtube.describe()

# Display summary statistics for numerical columns in the Car DataFrame
car_summary = df_car.describe()

# Display summary statistics for numerical columns in the Weather DataFrame
weather_summary = df_weather.describe()

# Print the summaries
print("YouTube Summary Statistics:")
print(youtube_summary)

print("\nCar Summary Statistics:")
print(car_summary)

print("\nWeather Summary Statistics:")
print(weather_summary)

YouTube Summary Statistics:
        No of Likes    Hashtags  Maximum Quality of the Video  \
count  9.040000e+02  905.000000                    905.000000
mean   5.840101e+05    1.030939                   1227.712707
std    2.959309e+06    1.835350                    419.254719
min    0.000000e+00    0.000000                    240.000000
25%    5.475000e+03    0.000000                   1080.000000
50%    3.250000e+04    0.000000                   1080.000000
75%    1.845000e+05    2.000000                   1080.000000
max    4.900000e+07   28.000000                   2160.000000

       No of Videos the Channel  No of Playlist  \
count                905.000000      896.000000
mean                4962.866298       82.246652
std                24193.140397      446.041267
min                    1.000000        0.000000
25%                  150.000000        6.000000
50%                  389.000000       16.000000
75%                 1393.000000       47.250000
max               420000.000000     6000.000000

       Community Engagement (Posts per week)
count                             905.000000
mean                                4.516022
std                                19.377195
min                                 0.000000
25%                                 0.000000
50%                                 1.000000
75%                                 3.000000
max                               341.000000

Car Summary Statistics:
           car_ID   symboling   wheelbase   carlength    carwidth   carheight  \
count  205.000000  205.000000  205.000000  205.000000  205.000000  205.000000
mean   103.000000    0.834146   98.756585  174.049268   65.907805   53.724878
std     59.322565    1.245307    6.021776   12.337289    2.145204    2.443522
min      1.000000   -2.000000   86.600000  141.100000   60.300000   47.800000
25%     52.000000    0.000000   94.500000  166.300000   64.100000   52.000000
50%    103.000000    1.000000   97.000000  173.200000   65.500000   54.100000
75%    154.000000    2.000000  102.400000  183.100000   66.900000   55.500000
max    205.000000    3.000000  120.900000  208.100000   72.300000   59.800000

        curbweight  enginesize   boreratio      stroke  compressionratio  \
count   205.000000  205.000000  205.000000  205.000000        205.000000
mean   2555.565854  126.907317    3.329756    3.255415         10.142537
std     520.680204   41.642693    0.270844    0.313597          3.972040
min    1488.000000   61.000000    2.540000    2.070000          7.000000
25%    2145.000000   97.000000    3.150000    3.110000          8.600000
50%    2414.000000  120.000000    3.310000    3.290000          9.000000
75%    2935.000000  141.000000    3.580000    3.410000          9.400000
max    4066.000000  326.000000    3.940000    4.170000         23.000000

       horsepower      peakrpm     citympg  highwaympg         price
count  205.000000   205.000000  205.000000  205.000000    205.000000
mean   104.117073  5125.121951   25.219512   30.751220  13276.710571
std     39.544167   476.985643    6.542142    6.886443   7988.852332
min     48.000000  4150.000000   13.000000   16.000000   5118.000000
25%     70.000000  4800.000000   19.000000   25.000000   7788.000000
50%     95.000000  5200.000000   24.000000   30.000000  10295.000000
75%    116.000000  5500.000000   30.000000   34.000000  16503.000000
max    288.000000  6600.000000   49.000000   54.000000  45400.000000

Weather Summary Statistics:
       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [23]:
# Q6

def remove_outliers_iqr(df, threshold=1.5):
    # Calculate the IQR for each numerical column
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1

    # Define a boolean mask for outliers
    outliers_mask = ((df < (Q1 - threshold * IQR)) | (df > (Q3 + threshold * IQR)))

    # Remove outliers from the DataFrame
    df_no_outliers = df[~outliers_mask]

    return df_no_outliers

# Identify and remove outliers for the YouTube DataFrame
df_youtube_no_outliers = remove_outliers_iqr(df_youtube)

# Identify and remove outliers for the Car DataFrame
df_car_no_outliers = remove_outliers_iqr(df_car)

# Identify and remove outliers for the Weather DataFrame
df_weather_no_outliers = remove_outliers_iqr(df_weather)

# Display the shape of the DataFrames before and after removing outliers
print("YouTube DataFrame shape before outliers:", df_youtube.shape)
print("YouTube DataFrame shape after outliers:", df_youtube_no_outliers.shape)

print("\nCar DataFrame shape before outliers:", df_car.shape)
print("Car DataFrame shape after outliers:", df_car_no_outliers.shape)

print("\nWeather DataFrame shape before outliers:", df_weather.shape)
print("Weather DataFrame shape after outliers:", df_weather_no_outliers.shape)

YouTube DataFrame shape before outliers: (905, 24)
YouTube DataFrame shape after outliers: (905, 24)

Car DataFrame shape before outliers: (205, 26)
Car DataFrame shape after outliers: (205, 26)

Weather DataFrame shape before outliers: (1461, 5)
Weather DataFrame shape after outliers: (1461, 5)

<ipython-input-23-b8f8515b7340>:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df.quantile(0.25)
<ipython-input-23-b8f8515b7340>:6: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = df.quantile(0.75)
<ipython-input-23-b8f8515b7340>:10: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers_mask = ((df < (Q1 - threshold * IQR)) | (df > (Q3 + threshold * IQR)))