<a href="https://colab.research.google.com/github/Devang3000/WoC6.0-DL-image-classification-DEVANG-PATHAK/blob/main/Pandas_WoC_6.0_Checkpoint_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

1.) read the csv files and add them to data frames

In [7]:
Car_path = '/content/CarPrice_Assignment.csv'
Youtube_path = '/content/Youtube.csv'
Weather_path = '/content/weather.csv'

used latin encoding to read the youtube file

In [12]:
df_car = pd.read_csv(Car_path)
df_youtube = pd.read_csv(Youtube_path, encoding='latin1')
df_weather = pd.read_csv(Weather_path)

diplay the dataframes

In [16]:
df_car.head(), df_youtube.head(), df_weather.head()

(   car_ID  symboling                   CarName fueltype aspiration doornumber  \
 0       1          3        alfa-romero giulia      gas        std        two
 1       2          3       alfa-romero stelvio      gas        std        two
 2       3          1  alfa-romero Quadrifoglio      gas        std        two
 3       4          2               audi 100 ls      gas        std       four
 4       5          2                audi 100ls      gas        std       four

        carbody drivewheel enginelocation  wheelbase  ...  enginesize  \
 0  convertible        rwd          front       88.6  ...         130
 1  convertible        rwd          front       88.6  ...         130
 2    hatchback        rwd          front       94.5  ...         152
 3        sedan        fwd          front       99.8  ...         109
 4        sedan        4wd          front       99.4  ...         136

    fuelsystem  boreratio  stroke compressionratio horsepower  peakrpm citympg  \
 0        mpfi       3.47    2.68              9.0        111     5000      21
 1        mpfi       3.47    2.68              9.0        111     5000      21
 2        mpfi       2.68    3.47              9.0        154     5000      19
 3        mpfi       3.19    3.40             10.0        102     5500      24
 4        mpfi       3.19    3.40              8.0        115     5500      18

    highwaympg    price
 0          27  13495.0
 1          27  16500.0
 2          26  16500.0
 3          30  13950.0
 4          22  17450.0

 [5 rows x 26 columns],
                                           Video Link Video Views  \
 0        https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
 1        https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
 2  https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s         878
 3        https://www.youtube.com/watch?v=_CkFNJgKsFs       9,965
 4        https://www.youtube.com/watch?v=_GFkHA5EZdE  39,780,561

                                          Video Title  \
 0    Samse - Didupe Off-road Royal Enfield Himalayan
 1                           Bhoom Baddhal Web Series
 2  Customer Psychology, Four Views Of Consumer De...
 3     Top countries with proven natural gas reserves
 4                     73 Questions With Selena Gomez

                                          Channel URL Creator Name  \
 0                https://www.youtube.com/c/sriharick   srihari ck
 1         https://www.youtube.com/c/ChaibisketTelugu  Chai Bisket
 2  https://www.youtube.com/channel/UCcIUnCsBfONvb...  Virda Warsi
 3                 https://www.youtube.com/c/trtworld          TRT
 4                                    Vogue - YouTube        Vogue

   Creator Gender Total Channel Subcribers Total Chanel Views  \
 0           Male                    40200            7964284
 1           Male                   920000          137535681
 2         Female                      458              72945
 3            NaN                  1680000          541653219
 4            NaN                 12100000         3600496171

   Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
 0         00:30:41             1,841.00  ...               Yes         0
 1         00:14:24               864.00  ...               Yes         1
 2           0:08:12              492.00  ...               Yes         0
 3           0:01:06               66.00  ...               Yes         0
 4           0:07:40              460.00  ...               Yes         0

   No of Comments Date of the Last Comment Maximum Quality of the Video  \
 0            419                 8/6/2022                         1080
 1            189                6/15/2022                         1080
 2              0                      NaN                          720
 3             77                9/22/2022                         1080
 4          28221                9/23/2022                         1080

    No of Videos the Channel No of Playlist Premiered or Not  \
 0                       462           12.0               No
 1                       251           12.0              Yes
 2                       158            0.0               No
 3                     46509           48.0               No
 4                      2872          113.0               No

    Community Engagement (Posts per week)  Intern Who Collected the Data
 0                                      1                     Akhil Teja
 1                                      2                     Akhil Teja
 2                                      0                    Syed safdar
 3                                     20                    Syed safdar
 4                                      1                    Rahul Singh

 [5 rows x 24 columns],
    precipitation  temp_max  temp_min  wind  weather
 0            0.0      12.8       5.0   4.7  drizzle
 1           10.9      10.6       2.8   4.5     rain
 2            0.8      11.7       7.2   2.3     rain
 3           20.3      12.2       5.6   4.7     rain
 4            1.3       8.9       2.8   6.1     rain)

In [17]:
# Find Missing Values
missing_values_car = df_car.isnull().sum()
missing_values_youtube = df_youtube.isnull().sum()
missing_values_weather = df_weather.isnull().sum()

In [18]:
# Display the number of missing values for each column
print("Number of missing values for each column in df_car:")
print(missing_values_car)

print("\nNumber of missing values for each column in df_youtube:")
print(missing_values_youtube)

print("\nNumber of missing values for each column in df_weather:")
print(missing_values_weather)

Number of missing values for each column in df_car:
car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

Number of missing values for each column in df_youtube:
Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

Number of missing values for each column in df_weather:
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [19]:
# Drop rows with any missing values
df_car_no_missing = df_car.dropna()
df_youtube_no_missing = df_youtube.dropna()
df_weather_no_missing = df_weather.dropna()

In [20]:
# Display the first few rows of the new dataframes
print("\nDataFrame df_car after dropping missing values:")
print(df_car_no_missing.head())

print("\nDataFrame df_youtube after dropping missing values:")
print(df_youtube_no_missing.head())

print("\nDataFrame df_weather after dropping missing values:")
print(df_weather_no_missing.head())

DataFrame df_car after dropping missing values:
   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  ...  enginesize  \
0  convertible        rwd          front       88.6  ...         130
1  convertible        rwd          front       88.6  ...         130
2    hatchback        rwd          front       94.5  ...         152
3        sedan        fwd          front       99.8  ...         109
4        sedan        4wd          front       99.4  ...         136

   fuelsystem  boreratio  stroke compressionratio horsepower  peakrpm citympg  \
0        mpfi       3.47    2.68              9.0        111     5000      21
1        mpfi       3.47    2.68              9.0        111     5000      21
2        mpfi       2.68    3.47              9.0        154     5000      19
3        mpfi       3.19    3.40             10.0        102     5500      24
4        mpfi       3.19    3.40              8.0        115     5500      18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

[5 rows x 26 columns]

DataFrame df_youtube after dropping missing values:
                                     Video Link Video Views  \
0   https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
1   https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
5   https://www.youtube.com/watch?v=_HwPGXsklyY     257,334
10  https://www.youtube.com/watch?v=0BBROgyHlFE   5,599,742
11  https://www.youtube.com/watch?v=0HheRYQ9ass      25,052

                                          Video Title  \
0     Samse - Didupe Off-road Royal Enfield Himalayan
1                            Bhoom Baddhal Web Series
5                      HERO - Baananchige Oduva Baara
10  ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat
11             The BEST Mockups You Will Find Online!

                                    Channel URL         Creator Name  \
0           https://www.youtube.com/c/sriharick           srihari ck
1    https://www.youtube.com/c/ChaibisketTelugu          Chai Bisket
5   https://www.youtube.com/c/RishabShettyFilms  Rishab Shetty Films
10       https://www.youtube.com/c/JeremyEthier        Jeremy Ethier
11                    Satori Graphics - YouTube               Satori

   Creator Gender Total Channel Subcribers Total Chanel Views  \
0            Male                    40200            7964284
1            Male                   920000          137535681
5            Male                   382000          154898226
10           Male                  4690000          511124108
11           Male                   999000           58048539

   Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
0          00:30:41             1,841.00  ...               Yes         0
1          00:14:24               864.00  ...               Yes         1
5          00:06:01               361.00  ...               Yes         1
10         00:09:43               583.00  ...               Yes         0
11           0:05:51              351.00  ...               Yes         0

   No of Comments Date of the Last Comment Maximum Quality of the Video  \
0             419                 8/6/2022                         1080
1             189                6/15/2022                         1080
5             387                4/24/2021                         2160
10           1558               21-09-2022                         1080
11             70                 9/1/2022                         1080

    No of Videos the Channel No of Playlist Premiered or Not  \
0                        462           12.0               No
1                        251           12.0              Yes
5                         94           14.0               No
10                       216            8.0               No
11                       918           76.0               No

    Community Engagement (Posts per week)  Intern Who Collected the Data
0                                       1                     Akhil Teja
1                                       2                     Akhil Teja
5                                       0                     Akhil Teja
10                                      0                        prateek
11                                      2                    Rahul Singh

[5 rows x 24 columns]

DataFrame df_weather after dropping missing values:
   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7  drizzle
1           10.9      10.6       2.8   4.5     rain
2            0.8      11.7       7.2   2.3     rain
3           20.3      12.2       5.6   4.7     rain
4            1.3       8.9       2.8   6.1     rain

In [23]:
#drop boreratio , compression ratio , aspiration ,symboling from cars data set as they are not as relevent

columns_to_drop = ['boreratio', 'compressionratio', 'aspiration', 'symboling']

df_car_dropped = df_car.drop(columns=columns_to_drop)

# Display the first few rows of the dataframe after dropping columns, to diaplay only first 5  rows .head is used
print("DataFrame df_car after dropping  columns:")
print(df_car_dropped.head())

DataFrame df_car after dropping  columns:
   car_ID                   CarName fueltype doornumber      carbody  \
0       1        alfa-romero giulia      gas        two  convertible
1       2       alfa-romero stelvio      gas        two  convertible
2       3  alfa-romero Quadrifoglio      gas        two    hatchback
3       4               audi 100 ls      gas       four        sedan
4       5                audi 100ls      gas       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  enginetype  \
0        rwd          front       88.6      168.8      64.1  ...        dohc
1        rwd          front       88.6      168.8      64.1  ...        dohc
2        rwd          front       94.5      171.2      65.5  ...        ohcv
3        fwd          front       99.8      176.6      66.2  ...         ohc
4        4wd          front       99.4      176.6      66.4  ...         ohc

   cylindernumber enginesize fuelsystem  stroke horsepower  peakrpm  citympg  \
0            four        130       mpfi    2.68        111     5000       21
1            four        130       mpfi    2.68        111     5000       21
2             six        152       mpfi    3.47        154     5000       19
3            four        109       mpfi    3.40        102     5500       24
4            five        136       mpfi    3.40        115     5500       18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

[5 rows x 22 columns]